.dashboard-main {
  background: #dcdad7;

  .user-card {
    background: #f1f1f1;
    margin: 40px;
    padding: 40px;
    width: fit-content;
    border-radius: 8px;
    &__name {
      &:first-word {
        color: #d3d3d3;
      }
    }
    &__email {
    }
    &__city {
    }
  }
}

label {
  font-size: 24px;
}
input {
  height: 24px;
}
