.result-board {
  display: flex;
  flex-direction: column;
  &__head {
    font-weight: bold;
    text-align: left;
    border: 1px solid;
    border-bottom: none;
    margin: 0;
    padding: 20px;
  }
  .board-main {
    display: grid;
    grid: auto-flow / repeat(4, 1fr);
    border-width: 1px 0 0 1px;
    border-style: solid;

    &__content {
      margin: 0;
      text-align: left;
      border-width: 0 1px 1px 0;
      border-style: solid;
      border-color: black;
      padding: 20px;
      text-transform: capitalize;
    }

    &__content.subHead {
      font-weight: bold;
      font-style: italic;
    }

    &__content.marks {
      text-align: right;
    }

    &__content.fail {
      color: red;
    }

    &__content.topper {
      color: green;
    }
  }
}
